<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
</div>

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
제 유투브 채널로 혼자서도 데이터 전과정, 풀스택 전과정을 익힐 수 있는 로드맵과 관련 커리어를  설명한 영상을 만들었는데요<br>
꼭 한번 보시면 학습하시는데 큰 그림을 이해하실 수 있으실꺼예요. (괜찮으시면 구독과 좋아요도 부탁드립니다. ㅎ)<br>
<b>- 데이터, AI 커리어와 데이터 전과정 학습 방법 완벽 가이드: <a href="https://youtu.be/vsoAyh4D-zw">https://youtu.be/vsoAyh4D-zw</a><br>
- 1인 창업도 가능한 가장 빠른 최신 풀스택 공부순서: <a href="https://youtu.be/mTouChThxzA">https://youtu.be/mTouChThxzA</a></b><br>
</div>

## 4. 문제를 풀며 빠르게 익숙해지는 파이썬 기본 프로그래밍4

### Exercise 49. 데이터 구조 (튜플)
* a, b, c, d, e를 저장하는 튜플을 만들고 첫 번째 튜플값과 마지막 번째 튜플값을 출력하세요.

In [6]:
data = ("a","b",'c',"d","e")
print(data[0])
print(data[-1])

a
e

In [2]:
data = 


data = ('a', 'b', 'c', 'd', 'e')
print (data[0], data[-1])

a e

### Exercise 50. 데이터 구조 (튜플)
* 다음 코드를 작성해서 실행해보고 에러가 나는 이유를 설명하세요.

  - 실행코드
    ```python
    tupledata = ('dave', 'fun-coding', 'endless')
    tupledata[0] = 'david'
    ```
  - 에러
    ```python
    TypeError                                 Traceback (most recent call last)
    <ipython-input-2-db4a259aad24> in <module>()
          1 tupledata = ('dave', 'fun-coding', 'endless')
    ----> 2 tupledata[0] = 'david'

    TypeError: 'tuple' object does not support item assignment
    ```

In [7]:
tupledata = ('dave', 'fun-coding', 'endless')
tupledata[0] = 'david'

TypeError: 'tuple' object does not support item assignment

In [3]:
tupledata = ('dave', 'fun-coding', 'endless')
tupledata[0] = 'david'

TypeError: 'tuple' object does not support item assignment

### Exercise 51. 데이터 구조 (튜플)
* 다음 코드를 읽고, 최종적으로 var1과 var2의 값이 어떤 값이될지 확인해보고, 왜 이렇게 동작하는지 튜플을 기반으로 설명하세요.
  - 실행코드
    ```python
    var1, var2 = 1, 2
    var1, var2 = var2, var1
    ```

In [10]:
var1, var2 = 1, 2
print (var1, var2)
type(var1)
var1, var2 = var2, var1
print(var1,var2)

1 2
2 1

### Exercise 52. 데이터 구조 (튜플)
* 다음 코드에서 두번째 데이터부터 마지막 데이터를 다음과 같이 출력하세요

```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
```

출력:<br>
('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

In [14]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
print(tupledata[1:])
data = list(tupledata)
print(data)
del data[0]
print(tuple(data))

('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
['fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5']
('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

In [11]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')
data = list(tupledata)
del data[0]
tuple(data)

('fun-coding2', 'fun-coding3', 'fun-coding4', 'fun-coding5')

### Exercise 53. 데이터 구조 (튜플과 리스트)
* 다음 튜플 데이터를 리스트 데이터로 변환한 후에 'fun-coding4' 데이터를 마지막에 추가하고, 다시 튜플 데이터로 변환하세요.
```python
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
```

In [17]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
data = list(tupledata)
print(data)
data.append('fun-coding4')

['fun-coding1', 'fun-coding2', 'fun-coding3']

In [14]:
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
data = list(tupledata)
data.append('fun-coding4')
tuple(data)

('fun-coding1', 'fun-coding2', 'fun-coding3', 'fun-coding4')

### Exercise 54. 데이터 구조 (튜플, 리스트, 딕셔너리)
* 비어 있는 튜플, 리스트, 딕셔너리 변수를 하나씩 각각 만드세요.

In [18]:
a = ()
b = []
c = dict()
print(type(a),type(b),type(c))

<class 'tuple'> <class 'list'> <class 'dict'>

In [16]:
data1 = tuple()
data2 = list()
data3 = dict()
print (type(data1), type(data2), type(data3))

<class 'tuple'> <class 'list'> <class 'dict'>

### Exercise 55. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고, 딕셔너리 변수의 key 값인 영어단어, value 값인 의미 만을 가진 리스트 변수를 각각 만들고, 두 리스트 변수를 출력하세요.

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']
</pre>

In [22]:
k = {'environment': '환경', 'company': '회사', 'government': '정부'}
print(k)
k.values()

{'environment': '환경', 'company': '회사', 'government': '정부'}

dict_values(['환경', '회사', '정부'])

In [23]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

keys = data.keys()
values = data.values()

print (data)
print (list(keys))
print (list(values))

{'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}
['environment', 'company', 'government', 'face']
['환경', '회사', '정부, 정치', '얼굴']

### Exercise 56. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들어서 다음과 같이 출력하세요.
  - 단, 반복문을 사용하세요.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
</tr>
</tbody>
</table>

In [25]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

for i in data:
    print(i, ":", data[i])

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

In [ ]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

In [24]:
data = {'environment': '환경', 'company': '회사', 'government': '정부, 정치', 'face': '얼굴'}

for item in data.keys():
    print (item, ":", data[item])

environment : 환경
company : 회사
government : 정부, 정치
face : 얼굴

### Exercise 57. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 외움표시가 X 인 영어단어만 출력하세요
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 출력 예
<pre>
environment
government
face
</pre>

In [31]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

for i in data.keys():
    datal = data[i]
    if datal[1] == 'X':
        print(i)

environment
government
face

In [33]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

for item in data.keys():
    data_list = data[item]
    if data_list[1] == 'X':
        print (item)
        print(data_list)

environment
['환경', 'X']
government
['정부, 정치', 'X']
face
['얼굴', 'X']

### Exercise 58. 데이터 구조 (딕셔너리)
* 다음 영어 사전 데이터를 딕셔너리 변수로 만들고 사용자로부터 영어단어를 입력받으면 해당 영어단어의 외움표시를 O로 수정하고, 외움표시가 X 인 단어만 출력하는 프로그램을 작성하세요.
  - 단, key는 영어단어, value는 의미와 외움표시 두 데이터를 넣습니다.

<pre>
environment : 환경
company : 회사
gonernment : 정부, 정치
face : 얼굴
</pre>

<table>
<thead>
<tr>
<th>영어단어</th>
<th>의미</th>
<th>외움표시</th>
</tr>
</thead>
<tbody>
<tr>
<td>environment</td>
<td>환경</td>
<td>X</td>
</tr>
<tr>
<td>company</td>
<td>회사</td>
<td>O</td>
</tr>
<tr>
<td>government</td>
<td>정부, 정치</td>
<td>X</td>
</tr>
<tr>
<td>face</td>
<td>얼굴</td>
<td>X</td>
</tr>
</tbody>
</table>

* 입력: government
* 출력
<pre>
environment
face
</pre>

In [40]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

k = input('입력하시오: ')

for i in data.keys():
    dat = data[i]
    if i == k:
        dat[1] = 'O'
        data[i] = dat
    if dat[1] == 'X':
        print(i)

입력하시오: company
environment
government
face

In [32]:
data = {'environment': ['환경', 'X'], 'company': ['회사', 'O'], 'government': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}


k = input('입력하시오: ')

for i in data.keys():
    dat = data[i]
    if i == k:
        dat[1] = 'O'
        data[i] = dat
    if dat[1] == 'X':
        print(i)


english = input()
if english in data.keys():
    data[english][1] = 'O'

for item in data.keys():
    data_list = data[item]
    if data_list[1] == 'X':
        print (item)

ddddd
environment
government
face

### Exercise 59. 데이터 구조 (딕셔너리)
* 다음 dict_all, dict2, dict3 딕셔너리 변수가 있을 때, dict2와 dict3 두 데이터를 dict_all 딕셔너리 변수에 추가한 후, dict_all 변수를 출력하세요.
```python
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}
```

In [47]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}


for i in dict2.keys():
    dict_all[i] = dict2[i]

print(dict_all)

for i in dict3.keys():
    dict_all[i] = dict3[i]
    
print(dict_all)

{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴'}
{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

In [33]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}

for item in dict2.keys():
    dict_all[item] = dict2[item]
    
for item in dict3.keys():
    dict_all[item] = dict3[item]
    
dict_all

{'environment': '환경',
 'gonernment': '정부, 정치',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

### Exercise 60. 데이터 구조 (딕셔너리)
* 다음 actor_info 딕셔너리 변수를 만들고, 홈페이지, 배우 이름, 최근 출연 영화 갯수를 다음과 같이 출력하세요

```python
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}
```

* 출력 예:<br>
배우 이름: 마동석 <br>
홈페이지: https://www.instagram.com/madongseok <br>
출연 영화 갯수: 3 <br>

In [57]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

print('배우 이름:', actor_info['actor_name'])
print('홈페이저:', actor_info['actor_details']['홈페이지'])
print('출연 영화 갯수:', len(actor_info['movie_list']))

배우 이름: 마동석
홈페이저: https://www.instagram.com/madongseok
출연 영화 갯수: 3

In [38]:
actor_info = {'actor_details': {'생년월일': '1971-03-01',
                   '성별': '남',
                   '직업': '배우',
                   '홈페이지': 'https://www.instagram.com/madongseok'},
 'actor_name': '마동석',
 'actor_rate': 59361,
 'date': '2017-10',
 'movie_list': ['범죄도시', '부라더', '부산행']}

print ("배우 이름:", actor_info['actor_name'])
print ("홈페이지:", actor_info['actor_details']['홈페이지'])
print ("출연 영화 갯수:", len(actor_info['movie_list']))

배우 이름: 마동석
홈페이지: https://www.instagram.com/madongseok
출연 영화 갯수: 3

### Exercise 61.  데이터 구조 (집합)
number_list가 다음과 같은 리스트일 때 중복 숫자를 제거한 number_list1 집합을 만들고, 출력하세요
```python
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
```

In [59]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
number_list1 = set(number_list)
set(number_list1)
print(number_list1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
e

In [39]:
number_list = [5, 1, 2, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10, 10]
number_list1 = set(number_list)
number_list1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Exercise 62.  데이터 구조 (집합)
number_list2에 다음과 같은 데이터를 순서대로 추가하고, 제거하세요
```python
선언: [1, 2, 3]
추가: 4
추가(업데이트): [5, 6]
제거: 2
```

In [70]:
number_list2 = {1,2,3}
list3 = list(number_list2)

list3.append(4)
list3 = list3 + [5,6]
list3
list3.remove(2)
print(list3)

[1, 3, 4, 5, 6]

In [44]:
number_list2 = {1, 2, 3}
number_list2.add(4) # 하나의 데이터를 추가할 때는 add
number_list2.update([5, 6]) # 여러 데이터를 추가할 때는 리스트 형태로 update 함수를 사용
number_list2.remove(2) # 특정 데이터를 삭제할 때는 remove
number_list2

{1, 3, 4, 5, 6}

### Exercise 63.  데이터 구조 (집합)
number_list1과 number_list2의 교집합, 차집합을 출력하세요

In [71]:

number_list1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
number_list2

{1, 2, 3}

In [76]:
number_list1 ^ number_list2

{4, 5, 6, 7, 8, 9, 10}

In [47]:
number_list1 & number_list2

{1, 3, 4, 5, 6}

In [48]:
number_list1 - number_list2

{2, 7, 8, 9, 10}

In [49]:
number_list1 | number_list2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>