<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>

## 문자열 관련 함수 알아보기

### 문자열에 있는 특정 문자 갯수 세기 (count 함수)

In [3]:
a = 'vipp'
a.count('p')

2

In [6]:
data = 'Dave David'
data.count('av')    # 문자열에 D 가 몇 번 나올까요? 대소문자도 구별함

2

* 간단 연습: string에 v 는 몇 번 나올까?
* 간단 연습: string에 vid 는 몇 번 나올까? (꼭 문자 하나만 되는 것이 아니라, 연결된 문자열도 가능)

### 문자열에 있는 특정 문자의 위치 알려주기 
### index 함수

In [9]:
strs = 'Course cork'
strs.index('C')

0

In [7]:
string = 'Dave ID is dave'
string.index('i')   # 맨 앞 자리부터 0, 1, ... 순으로 위치를 표시

8

* 간단 연습: string에 있는 D의 위치 확인하기 (가장 먼저 나오는 위치를 알려줌)
* 간단 연습: string에 x의 위치 확인하기 (해당 문자가 없으면 에러가 남)

In [8]:
string.index('x')

ValueError: substring not found

### 해당 문자가 문자열에 없을 때, 에러를 안낼 수는 없을까? --> find 함수를 사용하면 됨
* find 함수는 해당 문자가 문자열에 없으면 -1 을 리턴함 (에러는 내지 않음)
* 이외에는 index 함수와 동일

In [11]:
string = 'dave is david'
string.find('x')

strs.find('z')

-1

In [16]:
string = 'Dave ID is dave'
string.find('D ')    # 맨 앞 자리부터 0, 1, ... 순으로 위치를 표시

if string.find('x') == -1:
    print ("x는 스트링에 없습니다.")

x는 스트링에 없습니다.

* 간단 연습: string에 d의 위치 확인하기

### 문자열 사이에 다른 문자 넣기

In [13]:
strs = 'Call me by your name'
dot = '.'
dot.join(strs)

'C.a.l.l. .m.e. .b.y. .y.o.u.r. .n.a.m.e'

In [11]:
string = "12345"
comma = ','
comma.join(string)     # 껴넣을 문자.join(문자열)

'1,2,3,4,5'

* 간단 연습: 문자열 사이에 ... 넣기

### 문자열 앞뒤에 공백 지우기
* 실제 현실 세계에 있는 문자열 데이터를 정리하다보면, 문자열 앞뒤에 공백 또는 기호가 있는 경우가 많음

In [16]:
date = ' socks and rocks '
print(date)
print(date.strip())

 socks and rocks
socks and rocks

In [18]:
data = " Dave "
data.strip()        # 앞 뒤 공백을 다 지움

'Dave'

In [19]:
string2 = "     David  "
string2.strip()      # 앞 뒤 공백이 여러개 있어도 한번에 다 지움

'David'

In [20]:
string2.lstrip()      # 앞쪽(문자열 왼쪽)만 지우기 left strip 의 약자

'David  '

In [15]:
string2.rstrip()      # 앞쪽(문자열 오른쪽)만 지우기 right strip 의 약자

'     David'

In [21]:
string = "      9999999999999999(Dave)888888888888888888     "
string.strip(" 98()")        # 앞 뒤 괄호를 다 지움

'Dave'

### 영문자 대소문자로 변환하기
* 대소문자를 구별하기 때문에, 대소문자 구별하지 않고 처리를 하기 위해 임의로 대문자 또는 소문자로 다 바꿀 때가 있음

### 소문자를 대문자로 바꾸기

In [26]:
strs = 'coWorker'
strs.lower()

'coworker'

In [22]:
string = 'Dave'
string.upper()        # 본래 대문자는 놔두고, 소문자인 문자만 대문자로 변경

'DAVE'

### 대문자를 소문자로 바꾸기

In [19]:
string = 'Dave'
string.lower()        # 본래 소문자는 놔두고, 대문자인 문자만 대문자로 변경

'dave'

### 문자열을 나누기

In [20]:
string = "Dave goes to Korea"
string.split()       # split() 인자를 넣지 않으면 디폴트로 스페이스를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

In [38]:
string = "Dave goes to Korea"
string.split(' ')

['Dave', 'goes', 'to', 'Korea']

In [32]:
string.split(' ')    # 명시적으로 스페이스를 기준으로 분리하겠다고 넣어줘도 됨

['Dave', 'goes', 'to', 'Korea']

In [33]:
string = "Dave/goes/to/Korea"
string.split('/')   # split() 인자를 넣으면 해당 인자를 기준으로 분리

['Dave', 'goes', 'to', 'Korea']

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 를 컴마(,) 로 분리해서 리스트 변수를 만들어 각 값을 정수형 리스트 데이터로 넣기
</div>
<pre>
int('11') 을 실행하면 숫자 11로 변환
</pre>

In [55]:
string = '10,11,22,33,44'
strss = string.split(',')
print(strss)
type(strss)

['10', '11', '22', '33', '44']

list

In [57]:
string = "10,11,22,33,44" 
strss = string.split(',')
a = []
for i in strss:
    a.append(int(i))

[10, 11, 22, 33, 44, 10, 11, 22, 33, 44]

In [41]:
string = "10,11,22,33,44" 
listdata = string.split(',')

for index, listitem in enumerate(listdata):
    listdata[index] = int(listitem)
print (listdata)

[10, 11, 22, 33, 44]

In [21]:
string = "10,11,22,33,44"
split_string = string.split(',')
for index, split_item in enumerate(split_string):
    split_string[index] = int(split_item)
print (split_string)

[10, 11, 22, 33, 44]

### 문자열 중 일부를 다른 문자로 바꾸거나, 삭제하기

In [42]:
string = "David goes to Korea"
string.replace("David", "Dave")     # David 를 Dave 로 바꾸기

'Dave goes to Korea'

In [59]:
string2 = "(Dave)"
string2.replace("(", "").replace(")","")           # 연결된 문자열은 해당 문자열이 동일하게 매칭이 되어야 함

'Dave'

In [23]:
string2.replace("(", "")

'Dave)'

In [24]:
string2.replace(")", "")

'(Dave'

In [26]:
string2 = string2.replace("(", "")   # ( 가 삭제된 문자열로 변수 값을 덮어 씌운 후에 다시 ) 를 삭제하면 됨
string2.replace(")", "")

'Dave'

In [27]:
string2 = "(Dave)"

string2.replace("(", "").replace(")", "")

'Dave'

<div class="alert alert-block alert-success">
<strong><font color="blue" size="4em">프로그래밍 연습</font></strong><br>
string = "10,11,22,33,44" 에서 컴마(,) 를 / 으로 대체하기
</div>

In [60]:
string = "10,11,22,33,44"
string.replace(',','/')

'10/11/22/33/44'

In [28]:
string = "10,11,22,33,44"
string.replace(",", " ")

'10 11 22 33 44'

<div class="alert alert-block" style="border: 2px solid #1976D2;background-color:#E3F2FD;padding:5px;font-size:0.9em;">
본 자료는 저작권법 제25조 2항에 의해 보호를 받습니다. 본 자료를 외부에 공개하지 말아주세요.<br>
본 강의만 잘 정리하면, 데이터 분석, 데이터 과학, 풀스택(백엔드, 프론트엔드) 개발 모두 가능합니다!<br>
<b><a href="https://school.fun-coding.org/">잔재미코딩</a> 에서 본 강의 기반 최적화된 로드맵도 확인하실 수 있습니다</b></div>